<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="auth-title">
    Welcome!
    <br />
    Discover the new Ionic 5
  </h2>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off"
          inputmode="email"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-button class="login-btn" type="submit" expand="block" [disabled]="!loginForm.valid">Log In</ion-button>
    <ion-row class="other-auth-options-row">
      <ion-button class="forgot-btn" fill="clear" [routerLink]="['/auth/forgot-password']">
        Forgot Password?
      </ion-button>
      <ion-button class="signup-btn" fill="clear" [routerLink]="['/auth/signup']">
        Sign Up!
      </ion-button>
    </ion-row>
  </form>

  <div class="social-auth-options">
    <p class="options-divider">Or</p>
    <ion-button class="social-auth-btn facebook-auth-btn" expand="block" color="facebook" (click)="doFacebookLogin()">Log
      In with Facebook</ion-button>
    <ion-button class="social-auth-btn google-auth-btn" expand="block" color="google" (click)="doGoogleLogin()">Log In
      with Google</ion-button>
    <ion-button class="social-auth-btn twitter-auth-btn" expand="block" color="twitter" (click)="doTwitterLogin()">Log In
      with Twitter</ion-button>
  </div>
</ion-content>
