:host {
  --page-first-slide-background: #c1ebff;
  --page-second-slide-background: #a9ebd2;
  --page-third-slide-background: #f0cbe5;
  --page-last-slide-background: #eef3ff;
}

ion-header {
  position: fixed;
}

ion-slides {
  height: 100%;
}

ion-toolbar {
  --background: transparent;

  ion-button {
    --color: white;
  }
}

.first-slide {
  --page-vector-decoration-fill: var(--page-first-slide-background);
  background: var(--page-first-slide-background);
}

.second-slide {
  --page-vector-decoration-fill: var(--page-second-slide-background);
  background: var(--page-second-slide-background);
}

.third-slide {
  --page-vector-decoration-fill: var(--page-third-slide-background);
  background: var(--page-third-slide-background);
}

.last-slide {
  --page-vector-decoration-fill: var(--page-last-slide-background);
  background: var(--page-last-slide-background);
}

.introduce-slides {
  --bullet-background: grey;
  --bullet-background-active: black;
}

.vector-decoration {
  fill: currentColor;
  color: var(--page-vector-decoration-fill);
  background-color: var(--page-background);
  padding-bottom: 4px;
  transform: translate3d(0px, 0px, 0px);
  shape-rendering: geometricprecision;
}

.info-title {
  text-align: left;
  padding-left: 30px;
}

.info-paragraph {
  color: var(--ion-color-medium-shade);
  font-size: 14px;
  margin: 0px 0px calc(var(--page-margin) / 2);

  &:last-child {
    margin-bottom: 0px;
  }
}

.svg-background {
  --page-background: white;
  background: white;
}

.swiper-slide {
  display: block;
}

.swiper-slide h3 {
  margin-top: -1.5rem;
  position: sticky;
  font-weight: 700;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 65%;
  margin: 60px 0 10px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
  font-weight: 700;
}

.get-started-button {
  --background: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.alt-call-to-action-row {
  padding-top: 5px;
  align-items: center;
  justify-content: space-evenly;

  .cta-leading-text {
    color: var(--ion-color-medium);
    font-size: 16px;
  }

  .login-button {
    --color: var(--ion-color-danger);
    margin: 0px;
  }
}

.white-font {
  --color: white;
}

:host(.first-slide-active) {
  .white-font {
    visibility: hidden;
  }
}

:host(.last-slide-active) {
  ::ng-deep .introduce-slides {
    .swiper-pagination {
      display: none;
    }
  }

  .white-font {
    visibility: hidden;
  }
}
