<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="white-font" (click)="skipWalkthrough()">skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="introduce-slides" pager="true">
    <ion-slide>
      <div class="first-slide">
        <img src="../../assets/walkthrough/walkthrough-illustration-1.svg" />
        <div class="svg-background">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 90 20"
            style="enable-background:new 0 0 90 20;" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 V5 H5 C25 5 25 20 45 20 S65 5 85 5 H90 V0 Z" />
          </svg>
          <h3 class="info-title">This App is built with Ionic 5</h3>
          <p class="info-paragraph ion-text-left">
            <br />It was created by the <b>IonicThemes</b> team to help<br /> you jump start your Ionic app development.
          </p>
          <p class="info-paragraph ion-text-left">
            <br/> <b>You will love Ionic 5, and if you get lost,<br/> remember we have lots of tutorials to help you.</b>
          </p>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="second-slide">
        <img src="../../assets/walkthrough/walkthrough-illustration-2.svg" />
        <div class="svg-background">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 24"
            style="enable-background:new 0 0 64 24;" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 24 Q56 24 48 16 Q34 0 22 10 Q10 22 0 8 Z" />
          </svg>
          <h3 class="info-title">How to use this template?</h3>
          <p class="info-paragraph ion-text-left">
            <br />We want to help you build better and faster Ionic apps. We have put a lot of effort building and styling each
            component of this template.
          </p>
          <p class="info-paragraph ion-text-left">
            <br />You are free to reuse and modify every component of this template.
          </p>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="third-slide">
        <img src="../../assets/walkthrough/walkthrough-illustration-3.svg" />
        <div class="svg-background">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 14"
            style="enable-background:new 0 0 64 24;" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 V5 H5 C19 5 25 14 32 14 S45 5 59 5 H64 V0 Z" />
          </svg>
          <h3 class="info-title">Which components are <br/>available in this Ionic 5 app?</h3>
          <p class="info-paragraph ion-text-left">
            Tabs, Notifications, Profile, SideMenu, Authentication, Getting Started, Walkthrough, Forms and Validations,
            Categories, <b>Travel</b>, <b>Fashion</b>, <b>Food</b>, <b>Deals</b> and <b>Real Estate</b> listings and details page
            and many more!
          </p>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="last-slide">
        <img src="../../assets/walkthrough/walkthrough-illustration-4.svg" />
        <div class="svg-background">
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 18"
            style="enable-background:new 0 0 64 24;" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 L64 0 L64 10 Q56 24 46 12 Q34 0 26 8 Q10 22 0 8 Z" />
          </svg>
          <h3 class="info-title"><br/>It's time to start</h3>
          <p class="info-paragraph ion-text-left">
            Hope you like this Ionic 5 template and please let us know your feedback so we can keep improving it! Enjoy ;)
          </p>
          <ion-button class="get-started-button" expand="block" [routerLink]="['/getting-started']">Get Started</ion-button>
          <ion-row class="alt-call-to-action-row">
            <span class="cta-leading-text">Already have an account?</span>
            <ion-button class="login-button" fill="clear" [routerLink]="['/login']">
              Login here
            </ion-button>
          </ion-row>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
